.page {
  display: flex;
  width: 98vw;
  height: 98vh;
  border: 1px solid;
}

aside {
  border: 1px solid;
  flex-grow: 1;
  background: #65fca4;
}

main {
  border:1px solid;
  flex-grow: 2;
  background: #65bffc;

  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
}

section:nth-child(1) {
  background: #f2fc65;
}

section:nth-child(2) {
  background: #fc6565;
}

section:nth-child(3) {
  background: #fc659f;
}
