.mouse{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 2px;
}

.lion{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}